# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# CMake
cmake-build-debug/
cmake-build-release/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

*.class
*.log
*.exe
*.jar
*.bin.gz

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

*#
*.md=
*.log
*.orig
*.jfr
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*/project/boot
*/project/build/target
*/project/project.target.config-classes
*~
.#*
.*.swp
.DS_Store
.cache
.cache
.classpath
.codefellow
.ensime*
.eprj
.history
.idea
.manager
.multi-jvm
.project
.sbtserver
.sbtserver.lock
.scala_dependencies
.scalastyle
.settings
.cache*
.tmpBin
.tags
.tags_sorted_by_file
.target
.worksheet
Makefile
TAGS
_akka_cluster/
_dump
_mb
activemq-data
akka-contrib/rst_preprocessed/
akka-docs-dev/rst_preprocessed/
akka-docs/_build/
akka-docs/exts/
akka-docs/rst_preprocessed/
akka-osgi/src/main/resources/*.conf
akka.sublime-project
akka.sublime-workspace
akka.tmproj
beanstalk/
bin/
data
deploy/*.jar
etags
lib_managed
logs
manifest.mf
mongoDB/
multiverse.log
out
project/akka-build.properties
project/boot/*
project/plugins/project
redis/
reports
run-codefellow
schoir.props
semantic.cache
src_managed
storage
tags
target
target-sbt
tm*.lck
tm*.log
tm.out
worker*.log
*-shim.sbt
test-output